<div id="area_label"></div>
<div id="area_updateprofile">
<% form_for @user do |f| %>
  	<%= f.hidden_field :openid_identifier%>
	<ul id="frm_dologin">
		<li>Name</li>
		<li><%= f.text_field :name, :class => "frm_createevent_txt" %></li>
		<li>Email</li>
		<li><%= f.text_field :email, :class => "frm_createevent_txt" %></li>
		<li>Twitter Name</li>
		<li><%= f.text_field :twitter_name, :class => "frm_createevent_txt" %></li>
		<li>Avatar
			<%= f.file_field :avatar, :class => "frm_createevent_fil", :size => 18 %>
		</li>
		<li class="btn_finishlogin">
  			  <%= image_submit_tag "btn_finishlogin.png", :size => "85x28", :alt => "Finish your registration in the community." %>
 		</li>
	</ul>
<% end %>
</div>
