<% content_for :head do %>
  <%= stylesheet_link_tag 'user.css' %>
<% end %>
<% content_for :errors do %>
	<% if !@user.errors.empty? %>
		<div id="error">
			<%= error_messages_for 'user'%>
		</div>
	<% end %>
<% end %>
<div id="area_label"></div>
<div id="area_logindata">
<% form_for @user do |f| %>
  	<%= f.hidden_field :openid_identifier%>
	<ul id="frm_dologin">
		<li>Name</li>
		<li><%= f.text_field :name, :class => "frm_createevent_txt" %></li>
		<li>Email</li>
		<li><%= f.text_field :email, :class => "frm_createevent_txt" %></li>
		<li>Twitter Name</li>
		<li><%= f.text_field :twitter_name, :class => "frm_createevent_txt" %></li>
		<li>Avatar
			<%= f.file_field :avatar, :class => "frm_createevent_fil", :size => 18 %>
		</li>
		<li class="btn_finishlogin">
  			  <%= image_submit_tag "btn_finishlogin.png", :size => "85x28", :alt => "Finish your registration in the community." %>
 		</li>
	</ul>
<% end %>
</div>
<div id="area_contentshadow"></div>
<div id="area_contentbg">
	
	<%= render :partial => "layouts/events", :locals => { :past_events => @past_events, :next_events => @next_events, :close_events => @close_events } %>
	
	<div id="area_latestmedia"></div>
<div id="area_footer"></div>
</div>