<div id="area_globalcontainer">
	<div id="area_logo">
	  <%= image_tag("fms_logo.png", :size => "260x60", :alt => "Come and share events everywhere.")%>
	</div>
	<div id="area_login">
		<% form_for @user_session, :url => user_session_path do |f| %>
		  <select id="sel_openid" name="user_session[openid_identifier]">
  			<option value="https://www.google.com/accounts/o8/id">Google</option>
        <option value="http://yahoo.com/">Yahoo</option>
        <option value="http://myopenid.com/">My OpenID</option>
		  </select>
  		<%= f.submit 'Send' %>
    <% end %>
	</div>
	<div id="area_label"></div>
	<div id="area_newevent"><a href="<%= new_event_path %>"><%= image_tag("btn_newevent.png", :size => "230x40", :alt => "Join the community and create your own events!")%></a></div>
	<div id="area_gmaps">
		<div id="gmaps_features"></div>
	</div>

	<div id="area_contentshadow"></div>
	<div id="area_contentbg">
		<div id="area_upcomingevents">
			<div id="header_upcomingevents">
			  <%= image_tag("header_upcomingevents.png", :size => "202x30", :alt => "Upcoming Events: A fresh list of the upcoming events on Flashmobstream.")%>
			</div>
			<div class="eventlist_top"></div>
			<div class="eventlist_mid">
        <% @next_events.each do |event| %>
  				<table width="100%" border="0" cellpadding="0" cellspacing="0">
  					<tr>
  						<td width="28%" rowspan="2"><%= image_tag event.logo.url(:thumb), :class => "eventimage" %></td>
  						<td width="72%" class="eventtitle"><%=h event.name %></td>
  					</tr>
  					<tr>
  						<td><%=h truncate(event.description, :omission => "...") %></td>
  					</tr>
  					<tr>
  						<td colspan="2" class="btn_moreinfo"><%= image_tag("btn_moreinfo.png", :size => "83x27")%></td>
  					</tr>
  				</table>
  				<br />
				<% end %>
			</div>
			<div class="eventlist_bottom"></div>
		</div>
		<div id="area_closeevents">
			<div id="header_closeevents">
			  <%= image_tag("header_closeevents.png", :size => "202x30", :alt => "Close Events: See the events that are about to happen close to you!")%>
			</div>
			<div class="eventlist_top"></div>
			<div class="eventlist_mid">
				<% @close_events.each do |event| %>
  				<table width="100%" border="0" cellpadding="0" cellspacing="0">
  					<tr>
  						<td width="28%" rowspan="2"><%= image_tag event.logo.url(:thumb), :class => "eventimage" %></td>
  						<td width="72%" class="eventtitle"><%=h event.name %></td>
  					</tr>
  					<tr>
  						<td><%=h truncate(event.description, :omission => "...") %></td>
  					</tr>
  					<tr>
  						<td colspan="2" class="btn_moreinfo"><%= image_tag("btn_moreinfo.png", :size => "83x27")%></td>
  					</tr>
  				</table>
  				<br />
				<% end %>
			</div>
			<div class="eventlist_bottom"></div>
		</div>
		<div id="area_pastevents">
			<div id="header_pastevents">
			  <%= image_tag("header_pastevents.png", :size => "202x30", :alt => "Past Events: See the comments, videos and ratings of the most recent events of our community!")%>
			</div>

			<div class="eventlist_top"></div>
			<div class="eventlist_mid">
				<% @past_events.each do |event| %>
  				<table width="100%" border="0" cellpadding="0" cellspacing="0">
  					<tr>
  						<td width="28%" rowspan="2"><%= image_tag event.logo.url(:thumb), :class => "eventimage" %></td>
  						<td width="72%" class="eventtitle"><%=h event.name %></td>
  					</tr>
  					<tr>
  						<td><%=h truncate(event.description, :omission => "...") %></td>
  					</tr>
  					<tr>
  						<td colspan="2" class="btn_moreinfo"><%= image_tag("btn_moreinfo.png", :size => "83x27")%></td>
  					</tr>
  				</table>
  				<br />
				<% end %>
			</div>
			<div class="eventlist_bottom"></div>
		</div>
		<!--
		<div id="area_media">
			<div id="media_top">
				<img src="assets/images/media_top.png" width="221" height="25" />
			</div>
			<div id="media_mid">
				<div id="medialist">
					<div id="video_one"><img src="assets/images/btn_watchvideo.png" width="48" height="30" /></div>
					<div id="video_two"><img src="assets/images/btn_watchvideo.png" width="48" height="30" /></div>
					<div id="video_three"><img src="assets/images/btn_watchvideo.png" width="48" height="30" /></div>
				</div>
			</div>
			<div id="media_bottom">
				<img src="assets/images/media_bottom.png" width="221" height="25" />
			</div>
		</div>
		-->
		<div id="area_latestmedia"></div>
	<div id="area_footer"></div>
	</div>

</div>
