<% content_for :head do %>
  <%= stylesheet_link_tag 'viewevent.css' %>
<% end %>
<%= GMap.header %>
<%= @map.to_html %>

	<div id="area_map"><%= @map.div(:width => 900,:height => 500) %></div>
	<div id="viewevent_data">
		<div id="viewevent_datalabel"></div>
		<ul id="viewevent_datacfg">
			<li><%= image_tag @event.logo.url(:medium), :size => "50x50" %></li>
			<li class="iteminfo"><%=h @event.label %></li>
			<li>Address</li>
			<li class="iteminfo"><%= @event.address %></li>
			<li>Date</li>
			<li class="iteminfo"><%= @event.date %></li>
			<li>Owner</li>
			<li class="iteminfo"><%= @event.owner.name %></li>
			<li>Name</li>
			<li class="iteminfo"><%= @event.name %></li>
			<li>Description</li>
			<li class="iteminfo"><%=h @event.description %></li>
			<li class="btn_createevent">
				<%= image_tag 'btn_signevent.png' %>
			</li>

		</ul>
	</div>
	<div id="area_contentshadow"></div>
	<div id="area_contentbg">
		<div class="area_media">
			<div class="pg_youtube"><%= link_to_remote (image_tag 'btn_left.png'), 
							:url => { :controller => "medias", :action => "videos", :pageV => @pageV - 1, :label => @event.label},
   							:update => "videos" %>
			<%= link_to_remote (image_tag 'btn_right.png'), 
							:url => { :controller => "medias", :action => "videos", :pageV => @pageV + 1, :label => @event.label},
   							:update => "videos" %>
			</div>
			<div class="pg_flickr"><%= link_to_remote (image_tag 'btn_left.png'), 
							:url => { :controller => "medias", :action => "photos", :pageP => @pageP - 1, :label => @event.label},
   							:update => "photos" %>
			<%= link_to_remote (image_tag 'btn_right.png'), 
							:url => { :controller => "medias", :action => "photos", :pageP => @pageP + 1, :label => @event.label},
   							:update => "photos" %>
			</div>
			<div class="youtube">
				<div id="videos"></div>
			</div>
			<div class="flickr">
				<div id="photos"></div>
			</div>
		</div>
		<div class="area_3col">
			<div class="header"><%= image_tag 'header_3col.png'%></div>
			<div class="middle">				
				<% @twitter.each do |twitt| %>
          <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
  					<tr>
  						<td width="6%" rowspan="2"><%= image_tag (twitt.profile_image_url, :class=>'eventimage') %></td>
  						<td width="94%" class="commenttitle"><%= twitt.from_user %></td>
  					</tr>
  					<tr>
  						<td valign="top" class="commenttext"><%= twitt.text %></td>
  					</tr>
					</table>
					<br />
  									
        <% end %>
			</div>
			<div class="bottom"></div>
		</div>
		<div class="area_featured">

			<div class="header"><%= image_tag 'header_participants.png' %></div>
			<div class="middle">
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />

			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />

			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />

			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />

			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" />
			</div>
			<div class="bottom"></div>
		</div>
	<div id="area_footer"></div>
	</div>


<% content_for :scripts do %>
<script>
document.observe('dom:loaded', function() {
 var url = "<%= url_for :controller => 'medias', :action => 'videos', :pageV => 1, :label => @event.label %>";
 var pg = 1;

 new Ajax.Updater('videos', url, {
   parameters: {page: pg}
 });
 
 var url = "<%= url_for :controller => 'medias', :action => 'photos', :pageP => 1, :label => @event.label %>";
 var pg = 1;

 new Ajax.Updater('photos', url, {
   parameters: {page: pg}
 });
 
});
</script>
<% end %>

Participants:
<% @event.users.each do |user| %>
  <%= image_tag user.avatar.url(:small) %>
  <%=h user.name %>
<% end %>

<% if current_user != @event.owner && !@event.users.include?(current_user) %>
  <%= link_to 'I want to join', join_path(@event) %>
<% end %>

<% if current_user != @event.owner && @event.users.include?(current_user) %>
  <%= link_to 'I want to unjoin', unjoin_path(@event) %>
<% end %>

<% if current_user %>
  <% form_for @comment do |f| %>
    <%= f.hidden_field :event_id, :value => @event.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    
    <%= f.label :content %>
    <%= f.text_field :content%>
  <% end %>
<% end %>

<!-- @photos.each do |photo| >
  <!--img class='photo' src="<= photo.sizes[0]['source'] >"-->
<!-- end -->



